.header {
  width: 100vw;
  padding: 2em 3em 2em 1em;
}

.header-content h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1em;
}

.header-content input {
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 1px solid gray;
}

.content {
  width: 100%;
  padding: 1em 2em;
}

.query-list {
  width: 90%;
  border: 1px solid #d9d6d6;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.query-list>.query-header,
.box-query {
  padding: 1em;
}

.query-header {
  display: flex;
  background-color: #fafafa;
  border-bottom: 1px solid #d9d6d6;
}

.query-header button {
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 0.5em 0.8em;
  cursor: pointer;
  margin-left: auto;
}

.query-main {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  width: 100%;
  align-items: center;
}

.query-main>*:not(:last-child) {
  border-bottom: 1px solid #d9d6d6;
}

.box-query {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 0.7em;
}

.box-query input {
  border-radius: 5px;
  border: 1px solid #d9d6d6;
  padding: 0.6em 0.7em;
}

.box-query input:focus {
  border: 1px solid #959393;
  outline: 3px solid #d9d6d6;
}

.box-result {
  border-radius: 5px;
  border: 1px solid #d9d6d6;
  background-color: #fafafa;
  padding: 0.3em;
}

.box-result>small {
  font-size: 0.6rem;
  margin-bottom: 0.3em;
}

.box-result>p {
  font-size: 0.9rem;
}