button {
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 0.5em 0.8em;
  cursor: pointer;
}

.header {
  width: 100vw;
  padding: 2em 3em 2em 1em;
}

.header-content h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1em;
}

.header-content input {
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 1px solid gray;
}

.content {
  width: 100%;
  padding: 1em 2em;
}

.query-list {
  width: 70%;
  border: 1px solid #d9d6d6;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.query-main>li {
  width: 100%;
}

.query-list>.query-header,
.box-query,
.query-dropdown {
  padding: 1em;
}

.query-header {
  display: flex;
  background-color: #fafafa;
  border-bottom: 1px solid #d9d6d6;
}

.query-header button {
  margin-left: auto;
}

.query-main {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  width: 100%;
  align-items: center;
}

.query-main>*:not(:last-child) {
  border-bottom: 1px solid #d9d6d6;
}

.box-query {
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.6fr 1fr 0.4fr;
  column-gap: 0.7em;
  align-items: center;
  justify-items: center;
}

.box-input input {
  font-weight: normal;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #d9d6d6;
  padding: 0.6em 0.7em;
  margin-top: 0.3em;
}

.box-input input:focus {
  border: 1px solid #959393;
  outline: 3px solid #d9d6d6;
}

.query-opt-menu {
  font-size: 0.7rem;
}

.query-opt-menu>li {
  cursor: pointer;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.query-opt-menu>li:hover {
  background-color: #d9d6d6;
}

.query-dropdown {
  width: 100%;
}

.query-dropdown-header button {
  margin-left: auto;
}

.query-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.query-dropdown-group {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 1fr 0.4fr;
  column-gap: 0.6em;
}

.box-result {
  width: 100%;
  height: 100%;
}

.box-result>p {
  margin-top: 0.3em;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #d9d6d6;
  background-color: #fafafa;
  padding: 0.7em;
  min-height: 40px;
  max-height: 250px;
  overflow-y: auto;
}