<header class="header">
  <div class="header-content">
    <h1>Skrap Dashboard</h1>
    <input [value]="url" />
  </div>
</header>

<section class="content">
  <div class="query-list">
    <header class="query-header">
      <button class="button" (click)="addQuery()">Add Query <app-icon name="+" width="16px" height="16px"
          fill="white"></app-icon></button>
    </header>
    <ul class="query-main" (click)="toggleQueryInfo($event.target)">
      <li *ngFor="let query of queriesList; index as i">
        <div class="box-query">
          <div class="box-input">
            <h3>{{query.name}}</h3>
          </div>
          <button class="badge pointer" [class.list]="query.type=='list'"
            (click)="toggleType(i)">{{query.type}}</button>
          <p>inputs: {{query.queries.length}}</p>
          <button [attr.query-box-index]="i" class="button">{{query.open ? "Close":"Open"}}</button>
          <box-overlay [hiddenOnClick]="true" hiddenOnTag="LI">
            <app-icon name="dots-horizontal" height="18px" width="18px" trigger></app-icon>
            <ng-container content>
              <ul class="query-opt-menu">
                <li (click)="queyMenu('remove',i)">Delete</li>
                <li (click)="queyMenu('clean',i)">Clean</li>
              </ul>
            </ng-container>
          </box-overlay>
        </div>
        <div class="query-dropdown" *ngIf="query.open">
          <div *ngIf="query.type=='list'" class="query-type-list">
            <span>Parent selector:</span>
            <input [formControl]="$any(query).parentSel" class="input-style" (input)="queryCount($event.target,i)" />
            <p>
              Total count: {{query.count}}
            </p>
          </div>
          <div class="query-dropdown-content">
            <div *ngFor="let entry of query.queries,index as entryI" class="query-dropdown-group">
              <div class="box-input">
                <input [formControl]="entry.name" class="input-style" />
              </div>
              <div class="box-input">
                <input [formControl]="entry.selector" (input)="queryHtml($event,i,entryI)" class="input-style" />
              </div>
              <div class="box-result">
                <p>
                  <small>Preview:</small>
                  {{entry.result ?? "No data"}}
                </p>
              </div>
              <div class="flex-center remove-entry-button">
                <button (click)="removeEntry(i,entryI)" class="button">
                  <app-icon name="x" fill="white" height="18px" width="18px">
                  </app-icon>
                </button>
              </div>
            </div>
          </div>
          <div>
            <button (click)="newEntryQuery(i)" class="button">New</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>