.header {
  width: 100vw;
  padding: 2em 3em 2em 1em;
}

.header-content h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1em;
}

.header-content input {
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 1px solid gray;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
}

.section>div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
}

.section-header {
  display: flex;
  justify-content: flex-end;
}

.section-header button {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 0.4em 0.8em;
  cursor: pointer;
}

.section-queries {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  border: 1px solid #d0d7de;
  padding: 2em;
  border-radius: 5px;
}

.section-query-card {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.5em;
}