.section-modal-content {
  padding: 1em;
}

.section-modal-content>h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.section-modal-form.form-input {
  margin-bottom: 1em;
}

.section-modal-form.form-input>label {
  font-size: 0.850rem;
  margin-bottom: 0.3em;
}

.section-modal-form .form-input>input {
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.5em 0.8em;
  font-size: 0.850rem;
}

.section-modal-form .form-input>input:focus {
  outline: 4px solid #e0e0e0;
}

.section-modal-form .form-submit {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.section-modal-form .form-submit button {
  padding: 0.8em 1em;
  color: white;
  font-size: 0.750rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
}

.section-modal-form .form-submit button:focus {
  outline: 4px solid #e0e0e0;
}

.section-modal-form .form-query-result {
  background-color: #f6f8fa;
  padding: 0.4em;
  border-radius: 5px;
  min-height: 100px;
  border: 1px solid gray;
}


.section-modal-form .form-query-result small {
  margin-bottom: 1em;
  font-size: 0.6rem;
}

.section-modal-form .form-query-result {
  background-color: #f6f8fa;
  padding: 0.4em;
  border-radius: 5px;
  min-height: 100px;
  border: 1px solid gray;
}

.section-modal-form .form-query-result small {
  margin-bottom: 1em;
  font-size: 0.6rem;
}


.section-modal-form .form-group-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4em;
  margin-bottom: 0.6em;
}