
name: Deploy Skrap website
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup node
        uses: actions/setup-node@v3
        with: 
          node-version: 18.14.x
          cache: npm
      
      - name: Install
        run: npm ci

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build the extractor rust folder
        run: wasm-pack build --release --target bundler ./src/deps/extractor
      
      - name: Setup pages
        id: pages
        uses: actions/configure-pages@v3      

      - name: Build the webapp
        run: npm run build --output-path dist --base-href /skrap/ 

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: dist/
  
  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    steps:
        - name: Deploy to gihtub pages
          id: deployment
          uses: actions/deploy-pages@v2
